<!DOCTYPE html>
<html>
<head>
	<title>Web of things</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script type="text/javascript" src="/js/build.js" defer></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<script>
  var ws = new WebSocket('wss://web-of-things.herokuapp.com:80');
	</script>
