<%- include('../partials/head.ejs') %>

<main>
  <aside>
    <img class="lead-img" src="/img/lead-dev-example.png" alt="">
    <h2><span class="lead-name">Joost Joostens</span></h2>
    <p><span class="lead-role">Senior Developer</span></p>
    <p>Status:<br>
      <span class="lead-status available">Beschikbaar</span>
    </p>
  </aside>
  <section>

    <ul class="queue-list">
      <p class="next">Volgende:</p>
      <li class="queue-item"><img src="" class="junior-img">Jim</li>
      <hr>
      <li class="queue-item"><img src="" class="junior-img">Jane</li>
      <li class="queue-item"><img src="" class="junior-img">Kim</li>
      <li class="queue-item"><img src="" class="junior-img">Shane</li>
    </ul>


  </section>
</main>

<%- include('../partials/foot.ejs') %>
