* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #f1f1f1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5em;
}

a {
	color: deepskyblue;
}
a:focus,
a:hover {
	color: skyblue;
}

/* Login form */

.form-block {
	min-width: 17em;
	background-color: #fff;
	padding: 2em;
	-webkit-box-shadow: 0px 10px 37px -16px rgba(0,0,0,0.50);
	-moz-box-shadow: 0px 10px 37px -16px rgba(0,0,0,0.50);
	box-shadow: 0px 10px 37px -16px rgba(0,0,0,0.50);
}

.form {
	display: flex;
	flex-direction: column;
}

.form label,
.form input {
	margin-bottom: 0.5em;
}

.form label {
	font-size: 70%;
}

.form label.choice-label {
	border:0.1em #57C0C9 solid;
	padding: 1em;
	display: block;
	text-align: center;
	width: auto;
	cursor: pointer;
}

.form label.choice-label:hover,
.form label.choice-label:focus {
	background-color: #57C0C9;
	color:#ffffff;
}

.form input[type="radio"].choice-input {
	position: absolute;
	left: -99em;
	opacity: 0;
}

.form input[type="radio"]:checked + label.choice-label {
	background-color: #57C0C9;
	color:#ffffff;
}

.form label.id-input {
	margin-top: 2em;
}

.form .account-input {
	display: block;
	min-width: 19em;
	margin: 0.5em 0 0.5em;
}

.form input {
	padding: 0.7em;
	border: 1px solid lightgrey;
}

.form input[type="submit"] {
	text-transform: uppercase;
	padding: 1em 0;
	margin: 1em 0;
	background-color: #57C0C9;
	border: none;
	color: white;
}

.form input[type="submit"]:focus,
.form input[type="submit"]:hover {
	cursor: pointer;
	background-color: #3AAAB3;
}

.form-block a{
	display: block;
	text-align: center;
	font-size: 70%;
}
